body{
   
    
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }


.logo{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    flex-wrap: wrap;
    background-color: gray;
    border-radius: 3px;
    height: 100%;
    width:100% ;
}
    
    
    .products-list{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .about-us-page{
        display: none;
        
        flex-direction: column;
        text-align: center;
        
        font-family: "Roboto Condensed", serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }

    .about-us-img img{
    
        width: 450px;
        height: 350px;
    }


    .swiper {
        width: 100%;
        height: 100%;
    }
      
     .swiper img{
        width: 100%;
        height: 100%;
    }
     .about-us-text{
        display: none;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }


    

      .btn123{
        margin-right: 7px;
      }

      .btn-delivery{
        margin-right: 7px;
      }

      .btn-catalog{
        margin-right: 7px;
      }
      .about-us-btn1{
        margin-right: 7px;
      }
      
        





    